<h1>GOOOOOOAAAAALLLLLSSSS</h1>

<br><br>

<h2>Latest Goals</h2>
<ol>
  <% @goals.order(created_at: :desc).take(10).each do |goal| %>
  <li>
    <%= link_to goal.name, goal_url(goal) %>
  </li>
  <% end %>
</ol>




<!-- <h2>10 Most Commented Goals</h2> -->
